<form action="/login" method="post">
    <label for="cedula">cedula</label> 
    <input name="cedula" type="text" placeholder="cedula" required>
    <label for="password">contraseña</label>
    <input type="text" name="password" placeholder="contraseña">
    <button type="submit">Enviar</button>
</form>