<form action="/register" method="post">
    <label for="cedula">cedula</label> 
    <input name="cedula" type="text" placeholder="cedula" required>
    <label for="password">contraseña</label>
    <input type="text" name="password" placeholder="contraseña">
    <label for="rol">rol</label>
    <select name="rol" id="rol">
        <option value="admin">admin</option>
        <option value="estudiante">estudiante</option>
        <option value="docente">docente</option>
    </select>
    <label for="nombre">nombre</label>
    <input type="text" name="nombre" placeholder="nombre">

    
    <button type="submit">Enviar</button>
</form>