<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de estudio</title>
    <link rel="icon" href="../assets/logo.png">
    <link rel="stylesheet" href="../assets/css/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>
    <div class="header">
        <img class="logo" src="../assets/logo.png" alt="logo de la pagina">
        <div class="membrete">
            <h1>INSTITUTO <br> TECNOLÓGICO VJL.IA</h1>
        </div>
        <div class="titulo">
            <h1>Sistema de Control de Estudios para Estudiantes</h1>
        </div>
    </div>
    <div class="botones-container">
        <a href="../Estudiantes/Estudiantes-2.Seleccione Carrera.html" class="boton">Inscripcion</a>
        <a href="#" class="boton">Calificaciones</a>
        <a href="#" class="boton">Horarios</a>
        <a href="#" class="boton">Datos Personales</a>
        <a href="#" class="boton">Oferta Academica</a>
    </div>
    <img class="centered-logo" src="../assets/logo.png" alt="logo de la pagina" style="opacity: 0.5;">>
    <div class="footer">
    </div>
    <div class="panel">
        <div class="rectangulo11">
            <img class="imagen" src="../assets/Usuarios.png" alt="Imagen de user" />
            <div class="usuario"> <%= username %> </div>
        </div>
</body>
</html>
