<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>crear materia</title>
</head>
<body><form action="/administracion/materias/crear" method="post">
    <label for="nombre">nombre de la materia: </label>
    <input type="text" name="name" required>
    <label for="seccion">Seccion:</label>
    <input type="text" name="section" required>
    <label for="horario">horario: </label>
    <textarea name="horario" id="horario" cols="30" rows="1"></textarea>
    <button type="submit">enviar</button>
    <h1>
        <%= status %>
    </h1>
</form>
</body>
</html>