<form action="/administracion/materias/inscribir" method="post">
    <label for="cedula">Cedula: </label>
    <input type="text" name="cedula" placeholder="xx.xxx.xxx" required>
    <button type="submit">enviar</button>
</form>